# Jangan copy history Git (Bikin image berat!)
.git
.gitignore

# Jangan copy file sampah OS & IDE
.vscode/
.DS_Store
Thumbs.db
*.log

# Jangan copy binary hasil build lokal (Biar gak konflik sama Linux Docker)
main
dist/
build/

# Jangan copy file env sensitif
.env
.env*