# Environment variables
.env
.env*
!.env.example

# Distribution files and build artifacts
dist/
build/
main

# Binaries
*.exe
*.bin
*.out

# IDE and editor specific files
.vscode/
.DS_Store
Thumbs.db
.vercel
