# Python virtual environment
venv/
.venv/
__pycache__/

# Node.js dependencies
node_modules/
package-lock.json

# Environment variables
.env

# Distribution files and build artifacts
dist/
build/

# IDE and editor specific files
.vscode/
.DS_Store
Thumbs.db

# Python specific files
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
.vercel
.env*.local
